<div class="my-5">
    <div class="card home-page">
        <div class="card-header">
            <h1>Testing Project</h1>
        </div>
        <div class="card-body text-center">
            <div><h1>Welcome to Home Page</h1></div>
            
            <div ><%= link_to 'Author', authors_path, class: "btn btn-primary" %></div>
        </div>
        <div class="card-footer">      
            <%= link_to 'About', about_path %>
        </div>
    </div>
</div>


