<div id="<%= dom_id book %>">
  <tr> 
    <td class="text-dark fw-bolder text-break fs-6"><%= book.name %></td>
    <td class="text-dark fw-bolder fs-6"><%= book.price %></td>
    <td class="text-dark fw-bolder fs-6"><%= get_author_name(book.author_id) %></td>    
  </tr> 
</div>
